################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CSCNotes.API/CSCNotes.API/bin/Debug/net8.0
/CSCNotes.API/CSCNotes.API/obj
/CSCNotes.API/.vs
